@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: 0, 0, 0;
  }
}

body {
  color: #000;
}

@layer base {
  h1 {
    @apply font-extrabold text-2xl mb-3;

  }
}